{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'updatecourse' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                          </div>
                         {% endif %}
                         {% if message.tags == 'error' %}
                         <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Alert!</strong><br/> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                         {% endif %}
                         {% endfor %}
                         {% endif %}
                        <div class="col-12">
                            <h5 class="form-title"><span>UPDATE COURSE</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Course Name</label>
                                <input type="text" class="form-control" name="course_name" value="{% for i in course %}{{i.name}}{% endfor %}" required>
                                <input type="text" class="form-control" name="id" value="{% for i in course %}{{i.id}}{% endfor %}" hidden>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}