{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'updatestaff' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                          </div>
                         {% endif %}
                         {% if message.tags == 'error' %}
                         <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Alert!</strong><br/> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                         {% endif %}
                         {% endfor %}
                         {% endif %}
                        <div class="col-12">
                            <h5 class="form-title"><span>EDIT STAFF</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <input type="file" class="form-control" name="profile_pic" >
                                <input type="text" class="form-control" name="id" value="{% for i in staff %}{{i.admin.id}}{% endfor %}" hidden>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="first_name" value="{% for i in staff %}{{i.admin.first_name}}{% endfor %}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name" value="{% for i in staff %}{{i.admin.last_name}}{% endfor %}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text" class="form-control" name="user_name" value="{% for i in staff %}{{i.admin.username}}{% endfor %}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Gender</label>
                               <select class="form-control" name ="gender" value="{{staff.gender}}">
                                  <option>Select Gender</option>
                                  <option value="Female">Female</option>
                                  <option value="Male">Male</option>
                                  <option value="Others">Others</option>
                               </select>
                            </div>
                         </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name= "email" value="{% for i in staff %}{{i.admin.email}}{% endfor %}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Address</label>
                               <textarea class="form-control" name="address">{% for i in staff %}{{i.address}}{% endfor %}</textarea>
                            </div>
                         </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Only input if you want to change">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">ADD</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}